# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual environment
env/
venv/
.venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp

# Logs
*.log
*.out
*.err

# OS files
.DS_Store
Thumbs.db

# Docker
*.env
docker-compose.override.yml
.dockerignore
*.pid

# FastAPI
instance/
*.db
*.sqlite3

# Migrations
migrations/
alembic/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Testing
.coverage
.cache/
htmlcov/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Build artifacts
dist/
build/
*.egg-info/
.eggs/

# Celery
celerybeat-schedule
